body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    background-color: #071e39;
    color:#f3f3f3;
}

.container{
    margin-top: 50px;
}
h1,
p {
    text-align: center;
    margin: 0 0 0.5rem 0;
}

#title{
    font-size: 40px;
}

#description{
    font-size: 25px;
}

fieldset {
    width: 40%;
    height: auto;
    max-width: 70%;
    margin: 0 auto;
    margin-top: 2.5rem;
    background-color: #18457ba8;
    color:#f3f3f3;
    padding: 31px;
    border:none;
    border-radius: 5px;
}

label {
    font-size: 25px;
    display: block;
    font-weight: 600;
}

input,
textarea,
select {
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-sizing: border-box;
}

legend{
    font-size : 25px;
    font-weight: 600;
}

.inline {
    transform: scale(1.5);
    cursor: pointer;
    margin: 0 0.5em 0 0 ;
    height: unset;
    width: unset;
    vertical-align: middle;
}


.return,.visit-purpose{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.return label ,.visit-purpose label{
    margin-left: 20px;
    font-weight: 400;
}

textarea{
    height:150px;
    max-height: 250px;
    margin:10px 0 10px 0;
}

input[type="submit"]{
    width: 30%;
    min-height : 50px;
    height:60px;
    font-size: 25px;
    padding: 10px;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    cursor: pointer;
    background-color: #37af65;
    color: white;
    border:none;
}

.submit{
    display: flex;
    justify-content: center;
}

input::placeholder , textarea::placeholder ,option{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

select{
    padding: 0 10px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    padding-top: 2px;
    color: #75759d;
}


.placeholder{
    padding: 0 10px;
    padding-top: 4px;
}
